
*/__pycache__/
dataset/huggingface_butterflies/
mlruns/
output/output_*_*/checkpoints/
output/output_*_*/training_outputs/
vae_train/checkpoints/
vae_train/saved_images/
vae_train/test_images/
vae_train/test_outputs/
vae_train/*.out
venv/
task1.code-workspace
